svg{
gap: 20px;
}
.moldova-svg{
  margin: 80px auto 20px auto;
  #MD-AN{//anenii noi
    fill: #80378B;
  }
  #MD-BA{//balti
    fill: #FAAF31;
  }
  #MD-BD{//tichina
    fill: #009732;
  }
  #MD-BR{//Briceni
    fill: #E51270;
  }
  #MD-BS{//basarabeasca
    fill: #E3001B;
  }
  #MD-CA{//cahul
    fill: #009430;
  }
  #MD-CL{//calarasi
    fill: #009430;
  }
  #MD-CM{//cimislia
    fill: #009430;
  }
  #MD-CR{//criuleni
    fill: #E5001A;
  }
  #MD-CS{//causeni
    fill: #E95D0F;
  }
  #MD-CT{//cantemir
    fill: #E95D0F;
  }
  #MD-CU{//chisinau
    fill: #0B72B4;
  }
  #MD-DO{//donduseni
    fill: #0B72B6;
  }
  #MD-DR{//drochia
    fill: #E71172;
  }
  #MD-DU{//dubasari
    fill: #009430;
  }
  #MD-ED{//edinet
    fill: #F7B334;
  }
  #MD-FA{//falesti
    fill: #E95D0F;
  }
  #MD-FL{//floresti
    fill: #009430;
  }
  #MD-GA{//gagauzia
    fill: #00368B;
  }
  #MD-GL{//glodeni
    fill: #E3001D;
  }
  #MD-HI{//hincesti
    fill: #80378B;
  }
  #MD-IA{//ialoveni
    fill: #E5136E;
  }
  #MD-LE{//leova
    fill: #F7B334;
  }
  #MD-NI{//nisporeni
    fill: #0B72B6;
  }
  #MD-OC{//Ocnita
    fill: #E3001B;
  }
  #MD-OR{//orhei
    fill: #E51270;
  }
  #MD-RE{//rezina
    fill: #F7B334;
  }
  #MD-RI{//riscani
    fill: #009430;
  }
  #MD-SD{//soldanesti
    fill: #E3001B;
  }
  #MD-SI{//singerei
    fill: #0D71B6;
  }
  #MD-SN{//transnistria
    fill: #00368B;
  }
  #MD-SO{//soroca
    fill: #80378B;
  }
  #MD-ST{//straseni
    fill: #E95D0F;
  }
  #MD-SV{//stefan voda
    fill: #0C73B7;
  }
  #MD-TA{//taraclia
    fill: #E61373;
  }
  #MD-TE{//telenesti
    fill: #80378B;
  }
  #MD-UN{//ungheni
    fill: #F7B334;
  }


}