.-header{
  background-color: #525C65;
  overflow: hidden;
}
.-list {
  cursor: pointer;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.-list:hover{
  color: red;
}
.img{
  width: 30px;
  height: 30px;
}
